@charset "UTF-8";

/* font */
/* Noto Sans KR */
@font-face {
    font-family: 'NotoKR';
    font-weight: 100;
    font-style: normal;
    src:
    url(../fonts/NotoSansKR-Thin.ttf) format('truetype'),
    url(../fonts/NotoSansKR-Thin.woff) format('woff');
}
@font-face {
    font-family: 'NotoKR';
    font-weight: 200;
    font-style: normal;
    src:
    url(../fonts/NotoSansKR-ExtraLight.ttf) format('truetype'),
    url(../fonts/NotoSansKR-ExtraLight.woff) format('woff');
}
@font-face {
    font-family: 'NotoKR';
    font-weight: 300;
    font-style: normal;
    src:
    url(../fonts/NotoSansKR-Light.ttf) format('truetype'),
    url(../fonts/NotoSansKR-Light.woff) format('woff');
}
@font-face {
    font-family: 'NotoKR';
    font-weight: 400;
    font-style: normal;
    src:
    url(../fonts/NotoSansKR-Regular.ttf) format('truetype'),
    url(../fonts/NotoSansKR-Regular.woff) format('woff');
}
@font-face {
    font-family: 'NotoKR';
    font-weight: 500;
    font-style: normal;
    src:
    url(../fonts/NotoSansKR-Medium.ttf) format('truetype'),
    url(../fonts/NotoSansKR-Medium.woff) format('woff');
}
@font-face {
    font-family: 'NotoKR';
    font-weight: 600;
    font-style: normal;
    src:
    url(../fonts/NotoSansKR-SemiBold.ttf) format('truetype'),
    url(../fonts/NotoSansKR-SemiBold.woff) format('woff');
}
@font-face {
    font-family: 'NotoKR';
    font-weight: 700;
    font-style: normal;
    src:
    url(../fonts/NotoSansKR-Bold.ttf) format('truetype'),
    url(../fonts/NotoSansKR-Bold.woff) format('woff');
}
@font-face {
    font-family: 'NotoKR';
    font-weight: 800;
    font-style: normal;
    src:
    url(../fonts/NotoSansKR-ExtraBold.ttf) format('truetype'),
    url(../fonts/NotoSansKR-ExtraBold.woff) format('woff');
}
@font-face {
    font-family: 'NotoKR';
    font-weight: 900;
    font-style: normal;
    src:
    url(../fonts/NotoSansKR-Black.ttf) format('truetype'),
    url(../fonts/NotoSansKR-Black.woff) format('woff');
}

/* Baskerville Old Face */
@font-face {
    font-family: 'baskervilleOldFace';
    font-weight: 500;
    font-style: normal;
    src:
    url(../fonts/baskerville-old-face.ttf) format('truetype'),
    url(../fonts/baskerville-old-face.woff) format('woff');
}

/* Book Antiqua */
@font-face {
    font-family: 'bookAntiqua';
    font-weight: 400;
    font-style: normal;
    src:
    url(../fonts/BookAntiqua-regular.TTF) format('truetype'),
    url(../fonts/BookAntiqua-regular.woff) format('woff');
}
@font-face {
    font-family: 'bookAntiqua';
    font-weight: 900;
    font-style: normal;
    src:
    url(../fonts/BookAntiqua-bold.TTF) format('truetype'),
    url(../fonts/BookAntiqua-bold.woff) format('woff');
}
@font-face {
    font-family: 'bookAntiqua';
    font-weight: 400;
    font-style: italic;
    src:
    url(../fonts/BookAntiquaItalic-regular.TTF) format('truetype'),
    url(../fonts/BookAntiquaItalic-regular.woff) format('woff');
}
@font-face {
    font-family: 'bookAntiqua';
    font-weight: 500;
    font-style: italic;
    src:
    url(../fonts/BookAntiquaItalic-bold.TTF) format('truetype'),
    url(../fonts/BookAntiquaItalic-bold.woff) format('woff');
}

/* Tuesday Night */
@font-face {
    font-family: 'tuesdayNight';
    font-weight: 400;
    font-style: normal;
    src:
    url(../fonts/TuesdayNight-Regular.otf) format('opentype'),
    url(../fonts/TuesdayNight-Regular.woff) format('woff');
}

/* Material Icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Material-Icons.eot'); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url('../fonts/Material-Icons.woff2') format('woff2'),
      url('../fonts/Material-Icons.woff') format('woff'),
      url('../fonts/Material-Icons.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialIconsOutlined.otf') format('opentype');
  }
  
  .material-icons, .material-icons-outlined {font-family: 'Material Icons';font-weight: normal;font-style: normal;  display: inline-block;line-height: 1;text-transform: none;letter-spacing: normal; word-wrap: normal; white-space: nowrap;direction: ltr;-webkit-font-smoothing: antialiased;text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale;font-feature-settings: 'liga';line-height: 1;vertical-align: top; font-size: inherit;}
  
  span[class*="material-"] {
      font-family: 'Material Icons','Material Icons Outlined' !important;
  }

/* style */
/* common */
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: 'NotoKR';
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #141414;
    color: #fff;
}

/* header */
.header{
    width: 100%;
    max-width: 155rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: clamp(4.7rem, 2.60vw, 5.3rem);
    z-index: 5;
}
.logo-wrap{
    display: flex;
    flex-direction: column;
    gap: clamp(0.7rem, 0.52vw, 1.3rem);
}
.logo-wrap .logo{
    display: flex;
    align-items: center;
    gap: clamp(0.7rem, 0.52vw, 1.3rem);
}
.logo-wrap .logo img{
    width: clamp(6.7rem, 3.65vw, 7.3rem);
}
.logo-wrap .logo span{
    font-family: 'bookAntiqua';
    font-style: italic;
    font-size: clamp(3.7rem, 2.08vw, 4.3rem);
}
.logo-wrap > span{
    font-size: clamp(1.7rem, 1.04vw, 2.3rem);
    color: #5e5e5e;
}
.h-right{
    padding: clamp(0.7rem, 0.52vw, 1.3rem) clamp(3.8rem, 2.08vw, 4.2rem);
    border: 1px solid #fff;
    border-radius: 50%;
}

/* main */
.main-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(14.7rem, 7.81vw, 15.3rem);
}
/* main visual */
.main-visual-wrap{
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 963px;
    padding-top: clamp(14.7rem, 7.81vw, 15.3rem);
    overflow: hidden;
    background: url(../images/main-bg.jpg) center/cover no-repeat;
    box-sizing: border-box;
}
.motto-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(2.7rem, 1.56vw, 3.3rem);
}
.motto-wrap img{
    position: relative;
    width: clamp(39.7rem, 20.83vw, 40.3rem);
    z-index: 9;
}
.motto-item{
    display: flex;
    flex-direction: column;
}
.motto-item span{
    font-family: 'baskervilleOldFace';
    font-size: clamp(12.7rem, 6.77vw, 13.3rem);
}
.motto-item span.point{
    position: relative;
}
.motto-item span.point::after{
    content: 'leekyusik';
    position: absolute;
    top: 40%;
    left: 70%;
    transform: rotate(-15deg);
    font-family: 'tuesdayNight';
    font-size: clamp(4.7rem, 2.60vw, 5.3rem);
    color: #ab48ff;
}
.motto-item span strong{
    font-family: 'bookAntiqua';
    font-style: italic;
    font-weight: 900;
    color: #9bff00;
}
.motto-item.left{
    align-items: flex-end;
}
.desc-items{
    display: flex;
    align-items: center;
    gap: 3rem;
    position: absolute;
    bottom: 7rem;
    left: 18rem;
    z-index: 9;
}

/* greetings */
.greetings{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(4.7rem, 2.60vw, 5.3rem);
    margin: 0 auto;
}
.greet-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1.7rem, 1.04vw, 2.3rem);
}
.greet-top img{
    width: 6rem;
}
.greet-top .title{
    font-size: clamp(5.7rem, 3.13vw, 6.3rem);
    font-weight: 400;
    text-align: center;
}
.greet-top span{
    color: #5e5e5e;
}
.greet-middle p{
    text-align: center;
    font-size: clamp(1.5rem, 0.94vw, 2.1rem);
}
.greet-bottom .signature{
    font-family: 'tuesdayNight';
    font-size: clamp(7.7rem, 4.17vw, 8.3rem);
    color: #959595;
}

/* my career */
.my-career-wrap{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}
.inner{
    width: 28%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
}
.inner .title{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 8rem;
    font-family: 'baskervilleOldFace';
    line-height: 100%;
}
.inner .title span:first-child{
    position: relative;
    display: inline-block;
}
.inner .title span:first-child::before{
    content: '';
    position: absolute;
    left: 26rem;
    top: 50%;
    transform: translateY(-50%);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #9bff00;
    z-index: -1;
}
.career-items{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.career-item{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 2.2rem;
    font-weight: 200;
    padding: 0.5rem 0;
    border-bottom: 1px dashed #575757;
}
.career-item:last-child{
    border-bottom: none;
}
.career-item::before{
    content: url(../images/dot.svg);
    display: inline-block;
    width: 2rem;
}
.bg-wrap{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bg-right{
    display: flex;
}
.bg-con .bg-item{
    position: relative;
}
.bg-item .txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* contact */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.contact-top .title{
    font-size: 5rem;
}
.contact-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.contact-item a{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10rem;
}
.copyright{
    margin: 20rem;
    color: #5e5e5e;
    text-align: center;
}
.birth, .number, .email{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.birth::before{
    content: '\e853';
    display: inline-block;
    font-family: 'Material Icons';
    transform: translateY(1px);
}
.number::before{
    content: '\e325';
    display: inline-block;
    font-family: 'Material Icons';
    transform: translateY(1px);
}
.email::before{
    content: '\e0be';
    display: inline-block;
    font-family: 'Material Icons';
    transform: translateY(1px);
}

@media (max-width: 1280px){
    /* header */
    .header{width: 85%;padding-top: 30px;}
    .logo img{width: 50px !important;}
    .logo span{font-size: 35px !important;}
    .logo-wrap > span{font-size: 16px;}

    /* main visual */
    .main-visual-wrap{max-height: 800px;padding-top: 100px;}
    .motto-wrap{gap: 20px;}
    .motto-item span{font-size: 90px;}
    .motto-item span.point::after{font-size: 35px;}
    .motto-wrap img{width: 26%;}
    .desc-items{bottom: 30px;left: 7.5%;}

    /* greeting */
    img.golf, img.txt{width: 230px;}

    /* contact */
    .copyright{margin: 15rem;}
}

@media (max-width: 1024px){
    /* main visual */
    .main-wrap{gap: 100px;}
    .main-visual-wrap{max-height: 500px;padding-top: 80px;}
    .motto-item span{font-size: 65px;}
    .motto-item span.point::after{font-size: 25px;}
    .motto-wrap img{width: 26%;}
    .desc-items{bottom: 30px;left: 7.5%;gap: 1rem;gap: 1rem;}
    .desc-item{font-size: 12px;}
    .birth, .number, .email{gap: 0.5rem;}
    
    /* greeting */
    .greetings{width: 60%;}
    .inner{width: 35%;}
    .greet-top img{width: 50px;}
    .greet-top .title{ font-size: 40px !important;}
    .greet-bottom .signature{font-size: 7rem;}

    /* my career */
    .my-career-wrap{height: 50vh;}
    img.golf, img.txt{width: 160px;}
    .inner .title{font-size: 6rem;}
    .inner .title span:first-child::before{width: 4rem;height: 4rem;}
    .career-item{font-size: 1.8rem;}
}

@media (max-width: 768px){
    img.golf, img.txt{width: 120px;}
    .inner{width: 40%; }
}

@media (max-width: 425px){
    .logo-wrap{width: 100%;gap: 0.5rem;flex-direction: row;align-items: center;justify-content: space-between;}
    .logo{gap: 0.2rem !important;}
    .logo img{width: 30px !important;}
    .logo span{font-size: 25px !important;}
    .main-visual-wrap{max-height: 90vh;padding-top: 150px;}
    .bg-con{display: none;}
    .h-right{display: none;}
    .logo-wrap > span{color: #fff;padding: 0.2rem 1rem;border-radius: 0.5rem;border: 1px solid #fff;font-size: 1.2rem;}
    .motto-wrap{align-items: flex-start; gap: 0;}
    .motto-item{margin-top: 5rem;}
    .motto-wrap img{width: 50%;}
    .motto-item.left{margin-right: -6rem;}
    .motto-item.left span:nth-child(1){margin-right: 2rem;}
    .motto-item.right{margin-left: -6rem;}
    .motto-item.right span:nth-child(1){margin-left: 2rem;}
    .motto-item span{font-size: 30px;}
    .motto-item span.point::after{font-size: 1.2rem;}
    .desc-items{left: 50%;transform: translateX(-50%);padding: 1rem 2rem;background-color: rgba(255, 255, 255, 0.2);border-radius: 100px;}
    .desc-item{white-space: nowrap;}
    .greetings{width: 85%;gap: 30px;}
    .greet-bottom .signature{font-size: 4rem;}
    .inner{width: 85%;}
    .inner .title span:first-child::before{left: auto;right: 0;}
    .copyright{margin: 10rem 0 20rem 0;}
    .my-career-wrap{height: 50vh;align-items: center;}
    .bg-wrap{height: 100%;}
    .inner .title{font-size: 5rem;}
    
}
@media (max-width: 350px){
    .greet-top .title{font-size: 35px !important;}
    .career-item{font-size: 1.5rem;}
    .desc-items{flex-direction: column;border-radius: 1rem; align-items: flex-start;left: 7.5%;transform: translate(0);}
    .motto-item{margin-top: 3rem;}
}
